<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
  <section>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input formControlName="firstname" matInput/>
        <mat-error *ngIf="userForm.get('firstname')?.invalid">
          First Name is required (min 2 characters)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastname" matInput/>
        <mat-error *ngIf="userForm.get('lastname')?.invalid">
          Last Name is required (min 2 characters)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email"/>
        <mat-error *ngIf="userForm.get('email')?.invalid">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <ng-container *ngIf="permissionService.canSetRoleToNewUser$() | async">
        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('role')?.invalid">Role is invalid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Notes</mat-label>
          <textarea formControlName="note" matInput maxlength="300" rows="4"></textarea>
          <mat-error *ngIf="userForm.get('note')?.invalid">
            Note is invalid
          </mat-error>
        </mat-form-field>
      </ng-container>

      <button [disabled]="userForm.invalid" color="primary" mat-raised-button type="submit">
        Submit
      </button>

    </form>
  </section>
</mat-dialog-content>
